#root {
  margin-top: 1.5em;
  margin-bottom: 5em;
}

.footer .feedback {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 120px;
}

/** try to differentiate the sections for now **/
.mixer > div {
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mixer > div > button {
  text-align: left;
}
